.shellContainer {
  width: 100%;
  display: flex;
  place-items: center;
  align-items: stretch;
  flex-flow: column;
}
.shellItem {
  min-width: 300px;
  width: 100%;
  display: flex;
  padding: 4px;
}
.shellArea {
  resize: vertical;
  width: 100%;
  min-height: 300px;
}
.shellInput {
  width: 100%;
}
.sfFont {
  font-family:Courier New,Courier,monospace;
}
.sfChar {
  font-size:50px;
  color:#ffffff;
  background-color:#000000;
}
.sfSpace {
  font-size:8px;
  background-color:#ffffff;
}
legend {
  font-family:Courier New,Courier,monospace;
  font-size:16px;
}
.textInput {
  width: 100%
}
.modeSelector {
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modeLabel {
  font-family:Courier New,Courier,monospace;
  font-size:16px;
  padding: 8px;
}
.justifyLabel {
  display: grid;
  grid-template-columns: 100px 100px;
  column-gap: 10px;
  row-gap: 10px;
  font-family:Courier New,Courier,monospace;
  font-size:16px;
  padding: 10px;
}
.submit {
  display: flex;
  justify-content: space-between;
}
.flap {
  font-family:Courier New,Courier,monospace;
  font-size:20px;
}